### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# User-specific stuff
.idea/**/workspace.xml

# Sensitive or high-churn files
.idea/**/uiDesigner.xml

# Sonarlint plugin
.idea/**/sonarlint/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store